/* ---------------------------- */
/*  MARGS COOL STYLE SHEET WITH */
/* LOTS OF ROOM FOR IMPROVEMENT */
/* ---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	max-width: 1440px;
	margin: 0 auto;
}

h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 8rem;
	text-align: center;
}

h2, h3 {
	margin: 0;
	font-weight: bolder;
}

svg {
  display: block;
}

/* ------------------- */
/* For the Fancy Stuff */
/* ------------------- */

.exp-btn {
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	border: none;
	width: 100%;
	padding: 1rem;
	background: none;
	display: block;
	border-left: 5px solid #fff;
	cursor: pointer;
	text-align: left;
}

.exp-btn:hover {
	background-color: #94d1ff;
	font-weight: bolder;
}

.exp-btn:focus {
	outline:0;
}

.exp-btn-active {
	border-left: 5px solid #54b6ff;
	background-color: #94d1ff;
	font-weight: bolder;
}

.exp-2-btn {
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	border: none;
	width: 47.4%;
	float: left;
	padding: .7rem;
	background: none;
	display: block;
	cursor: pointer;
	text-align: center;
	border-radius: 2rem;	
	margin: .3rem;
}

.exp-2-btn:focus {
	outline:0;
}

.exp-2-btn-active {
	background-color: #53c271;
}

#short-story-button {
	width: 145px;
}

#long-story-button {
	width: 180px;
}

.more-projects-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.15rem;
  color: #fff;
  cursor: pointer;
  border-radius: .75rem;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #0079d4;
}

.more-projects-btn:hover {
  background-color: #0060a8;
}

.more-projects-btn:active {
  background-color: #004d87;
}

.more-projects-btn:focus {
	outline:0;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

/* ---------------------- */
/* HEADER AND MENU STYLES */
/* ---------------------- */

.wave-1 {
	color: #fff;
	background-color: #ff6b35;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.menu-items {
	font-size: 2.9rem;
}

.menu-items a:link, a:visited {
	fill: #000000;
}

.menu-items a:hover, a:active {
	fill: #99d4ff;
}

/* ---------------------------------------------- */
/* WAVE STYLES APPLICABLE TO ALL SUBSEQUENT WAVES */
/* ---------------------------------------------- */

.wave-headers {
	font-size: 3.5rem;
}

.inner-waves {
	padding: 2rem;
}

.inner-waves:after {
	content: "";
	display: table;
	clear: both;
}

.inner-waves p {
	font-size: 1.25rem;
	margin-top: 1rem;
}

.main-photo {
	width: 280px;
	padding: 0 2rem 2rem 0;
	float: left;
}

.main-photo img {
	border-radius: 1rem;
}

.main-body {
	width: 50%;
	float: left;
}

.secondary-body {
	width: 100%;
	float: left;
}

.experience-body {
	display: flex;
	flex-wrap: wrap;
}

.experience-menu {
	min-width: 315px;
	padding: 0 2rem 2rem 0;
}

.experience-content {
	flex: 1;
	max-width: 750px;
}

.experience-copy {
	float: left;
	margin: 1rem 0 0 1rem;
}

.experience-copy p {
	font-size: 1rem;
}

.experience-secondary-menu {
	min-width: 344px;
	background-color: #fff;
	float: left;
	border-radius: 2rem;
}


/* ---------------------------------------------- */
/* JUST COLORS FOR THE WAVES AND OR WAVE HEADERS  */
/* ---------------------------------------------- */

.wave-2 {
	background-color: #f7c59f;
}

.wave-3 {
	background-color: #efefd0;	
}

.wave-4 {
	background-color: #c9e8ff;	
}

.wave-5 {
	background-color: #0d97ff;	
}

.simple-header, .contact-header {
	fill: #fff;
	color: #fff;
}

/* -------------------------------- */
/* PROJECTS HAVE COOL SPECIAL STUFF */
/* -------------------------------- */

.simple-logo {
	max-width: 320px;
	padding: 2rem;
}

.projects-body {
	padding-left: .5rem;
	color: #fff;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
}

.projects-item {
	flex: 33%;
	margin: 0 .5rem .5rem 0;
	padding: 2rem;
}

.projects-gif {
	width: 100%;
	margin: 1rem 0 0 0;
}

/* ------------------------ */
/* FABULOUS UNORDERED LISTS */
/* ------------------------ */

ul.info-blurbs {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1rem;
}

li.info-title {
	font-weight: bold;
}

li.info-subtitle {
	font-style: italic;
}

li.info-description {
	font-size: 1rem;
}

/* ------------- */
/* FOOTER STYLES */
/* ------------- */

.footer-wave {
	background-color: #657153;	
	color: #fff;
}

.footer-wave p {
	margin: 0 4rem;
}

.footer-icons {
	padding-top: 1rem;
	margin: 0rem 0rem 5rem 3rem;
}

.footer-icons a {
	text-decoration: none;
}

.footer-icon {
	margin: 1rem;
	border-radius: 0;
}

.footer-footer {
	text-align: center;
	padding-bottom: 1rem;
	margin: 0;
}

/* --------------------------------- */
/* STYLES FOR DIFFERENT SCREEN SIZES */
/* --------------------------------- */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ----------------------------- */
/* FOR ANY SCREEN BESIDES MOBILE */
/* ----------------------------- */

@media (min-width: 480px) {
	.mobile-menu {
		display: none;
	}
	
	.mobile-wave-headers {
		display: none;
	}
}

/* ------------------------------------------------------- */
/* WHEN SOMEONE ON A 13" LAPTOP STARTS RESIZING THE WINDOW */
/* AND IT'S NOT QUITE AS SMALL AS AN IPAD BUT IT'S CLOSE.  */
/* ------------------------------------------------------- */

@media (max-width: 1030px) {
	h1 {
		font-size: 5rem;
		margin: 0 3rem;
	}
}

/* ---------------- */
/* MIDDLE SIZE HERE */
/* ---------------- */

@media (max-width: 730px) {
	.main-body {
		width: 100%;
		float: left;
	}

	.projects-item {
		flex: 100%;
	}
}

/* ------------------ */
/* FOR MOBILE DEVICES */
/* ------------------ */

@media (max-width: 480px) {
	.menu-items {
		display: none;
	}
	
	h1 {
		font-size: 3rem;
		margin: 0;	
	}
	
	ul.mobile-menu {
		padding: 0 2rem;
	  list-style-type: none;
		font-size: 1.25rem;
		color: white;
	}
	
	a.mobile-menu-item:link {
		text-decoration: none;
		color: #fff;
	}
	
	a.mobile-menu-item:visited {
		color: #fff;
	}
	
	a.mobile-menu-item:hover {
		color: #c9e8ff;
	}

	.exp-btn {
		display: block;
	}
	
	.wave-headers {
		display: none;
	}
	
	.mobile-wave-headers {
		margin-left: 5rem;
		font-size: 1rem;
	}

	.contact-header {
		margin-left: 4rem;
		margin-bottom: 2rem;
	}

	.wave-1 {
		text-align: center;
		padding-top: 3em;
		padding-bottom: 2em;
	}

	.experience-menu {
		min-width: 100%;
		padding: 0 0 2rem 0;
	}

	.exp-2-btn {
		padding: .2rem;
		width: 47.3%;
	}

	.experience-secondary-menu {
		min-width: 329px;
	}

	#short-story-button {
		width: 135px;
	}
	
	#long-story-button {
		width: 175px;
	}
}